.main {
  width: 100%;
  min-height: calc(100vh - 64px);
  background-color: #eaeaea;
  justify-content: center;
  align-items: center;
}

.main-content > h1 {
  font-size: 40px;
  background: linear-gradient(45deg, #4285f4, #34a853, #fbbc05, #ea4335);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: bold;
  letter-spacing: 2px;
}

.main-content > p {
  font-size: 21px;
}

.main-content {
  text-align: center;
  gap: 8px;
}

.main-content-user {
  margin: 20px;
  align-items: center;
  border: 2px solid blue;
  border-radius: 9999px;
}

.main-content-user > input {
  width: 100%;
  border-right: none;
  padding: 8px 16px;
  border-top-left-radius: 9999px;
  border-bottom-left-radius: 9999px;
}

.main-content-user > a {
  padding: 7px 16px;
  height: 100%;
  border-left: none;
  border-top-right-radius: 9999px;
  border-bottom-right-radius: 9999px;
  background-color: white;
  transition-duration: 0.12s;
}

.main-content-user > a:hover {
  background-color: #eaeaea;
}

.main-content-user > a > img {
  width: 12px;
}

.result {
  width: 100px;
  height: 100px;
  padding: 1px 15px;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 6px;
  cursor: pointer;
  transition-duration: 0.15s;
  border-radius: 8px;
}

.result:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.result > img {
  border-radius: 9px;
  width: 70px;
  padding: 3px;
  fill: white;
}

.result > p {
  font-size: 9px;
  color: rgba(0, 0, 0, 0.5);
}

.pdf {
  background-color: #dc0032 !important;
}

.docs {
  background-color: #4285f4 !important;
}

.txt {
  background-color: #8ca1af !important;
}

.results-from-query {
  width: 100%;
  min-height: calc(100vh - 64px);
  background-color: #eaeaea;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 30px;
  gap: 10px;
}
